.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
}

.logo{
    margin-left: 10%;
}

.img-fluid{
    margin-top: 15%;
}


.vinos-caros{
    margin-top: 10%;
}
