.promociones{
    margin-left: 15%;
}

.nav-link{
    font-size: 200%;
}

.lista{
    margin-right: 60%;
}

.cervezas{
    margin-left: 15%;
}

.comestibles{
    margin-left: 15%;
}

.vodka{
    margin-left: 15%;
}

.vino{
    margin-left: 15%;
}